body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fafafa;
}
img.logo {
  padding-top: 7px;
}
.tabbartop {
  position: absolute;
  top: 40px;
}
.main-content {
    padding-top: 40px;
    padding-bottom: 60px;
}
#app {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
iframe {
  max-width: 100%;
  border:0;
}
h1, h2, h3, h4, h5, h6,
p,
.text {

}
h2 {
  line-height: 19px;
  font-size: 20px;
}
h3 {
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
p {
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 300;
}
a {
  color: #111;
}
img {
    max-width: 100%;
    height: auto !important;
}
span.text {
  font-size: 12px;
}
.slideImg {
  max-height: 250px;
  overflow: hidden;
}
.slideImg img {
  width: 100%
}
h2.slidertitle {
  margin-top: 5px;
}
.flex-caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.flex-caption a {
  color: #fff;
}
h3.title.post-title {
  margin-top: 3px;
}
.post-info,
.post-info a {
  color: #555;
}
article {
  padding-left:10px;
  padding-right:10px;
}
article.list {
  border-bottom: 1px solid #eee;
  padding-top: 5px;
}
article.single {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1.single-title {
    font-size: 18px;
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}
span.thecategory {
  padding-right: 10px;
}
span.thecategory a {
  color: #fc5454;
}
.social-icons li {
  display: inline-block;
  width: 24.3%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
}
.social-icons li .svg-icon {
  width: 20px;
  margin: 0 auto;
}
.wp-caption-text {
  font-style: italic;
  font-size: 13px;
  font-weight: 100;
}
.tombol {
  padding:20px;
}
.framebogor {
  padding: 10px;
  margin: 10px 0;
}
.framtitle {
  position: absolute;
  z-index: 2;
  padding: 5px 10px;
}
.van-tabbar-item:hover{
  cursor: pointer;
}
.van-nav-bar__title,
.van-tab span {
    font-size: 18px;
}
.main-footer {
  margin-bottom: 50px;
  position: relative;
}
.van-goods-action {
  position: absolute;
}
